@import '../../styles/colors';

.number-selector {
  max-width: 300px;
  .selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .left, .right {
    cursor: pointer;
  }
  .left {
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-right: 40px solid #000;
    &:hover {
      border-right-color: $secondary-color;
    }
  }
  .right {
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid #000;
    &:hover {
      border-left-color: $secondary-color;
    }
  }
  .value {
    color: $primary-color;
    font-size: 58px;
    font-weight: bold;
  }
}